<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cărți (cam atât)</title>
    <style>
        body {
            color: black;
            font-family:'Palatino Linotype',serif
        }
        button {
            border: 1px solid #dddddd;
            color: black;
            background: #9faabd;
            padding: 5px 10px;
            text-align: center;
            display: block;
            font-size: 16px;
            margin: 2px 2px;
            cursor: pointer;
            width: 175px;
        }
        table
        {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin: 2px 2px;
            display: block;
        }
        td, th
        {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        label {
            margin: 2px 2px;
            display: inline;
        }
        input {
            margin: 2px 2px;
            display: inline;
        }
    </style>
</head>
<body>
    <h1>
        Database management app
    </h1>
    <button onclick="showCatalog('catalog')">
        Get catalog
    </button>
    <button onclick="showBook('catalog')">
        Get book
    </button>
    <button onclick="deleteBook()">
        Delete book
    </button>
    <form>
        <label for="book_id_input">Book ID:</label>
        <input type="text" id="book_id_input" name="book_id_input" value="0" size="3"><br>
    </form>
    <button onclick="addBook()">
        Add book
    </button>
    <button onclick="updateBook()">
        Update book
    </button>
    <form>
        <label for="book_title">Book title:</label>
        <input type="text" id="book_title" name="book_title" value="" size="20"><br>

        <label for="book_author">Book author:</label>
        <input type="text" id="book_author" name="book_author" value="" size="20"><br>

        <label for="book_release_date">Book release date:</label>
        <input type="text" id="book_release_date" name="book_release_date" value="" size="20"><br>

        <label for="book_stock">Book stock:</label>
        <input type="text" id="book_stock" name="book_stock" value="" size="5">

        <label for="book_price">Book price:</label>
        <input type="text" id="book_price" name="book_price" value="" size="5">
    </form>
    <table id="catalog">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year published</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </table>
    <label for="sortingCombobox">Sort by:</label>
    <select name="sortingCombobox" id="sortingCombobox">
    </select>
    <button onclick="sortTable('catalog', 'sortingCombobox')">
        Sort
    </button>
    <script>
        const url = "http://127.0.0.1:5000";
        // fields == array of keys
        // functie care initializeaza/modifica un combobox cu campurile specificate
        function initSortingCombobox()
        {
            const fields = {0:"ID", 1:"Title", 2:"Author", 3:"Year published", 4:"Stock", 5:"Price"}

            var sortingCombobox = document.getElementById("sortingCombobox");
            while(sortingCombobox.length > 0) // stergem optiunile anterior adaugate in combobox
            {
                sortingCombobox.remove(0)
            }

            // adaugam fiecare camp din 'fields' ca si optione in sortingCombobox
            for(let index in fields) {

                let field = fields[index]
                var option = document.createElement("option");
                option.value = index;
                option.text = field;
                sortingCombobox.add(option);
            }
        }
        // returneaza datele catalogului sub forma json
        async function getCatalog()
        {
            const response = await fetch(url.concat("/books")); // trimitem cerere GET pentru tot catalogul
            return await response.json();
        }

        // returneaza datele cartii cu id-ul 'bookId' sub forma json
        async function getBook(bookId)
        {
            bookId = Number(bookId) // functia returneaza NaN daca bookId nu poate fii convertit in valoare intreaga
            if(isNaN(bookId)) { // daca id-ul nu este valoare intreaga, cererea este invalida
                alert("Error: Id must be integer!");
                return "error";
            }

            // accesam baza de date
            const response = await fetch(url.concat(`/books/${bookId}`)); // trimitem cerere GET pentru o singura carte
            const responseData = await response.json()
            if(response.ok)
                return responseData;
            else
            {
                alert(responseData['error']);
                return "error"
            }
        }

        // functie ce elimina toate liniile din tabelul cu id-ul specificat
        async function clearTable(tableId)
        {
            var table = document.getElementById(tableId);
            const tableRowCount = table.rows.length;
            for(let index = 1; index < tableRowCount; index++) // mergem pe la fiecare linie si o stergem
            {
                table.deleteRow(1);
            }
        }

        // functie care sorteaza tabelul cu id-ul precizat (arg 1),
        // dupa coloana aflata in combobox-ul cu ud-ul precizat (arg2)
        function sortTable(tableId, comboboxId)
        {
            // accesam valoarea combobox-ului
            const sortingField = document.getElementById(comboboxId).value
            console.log(sortingField)

            var table = document.getElementById(tableId)

            // accesam liniile tabelului
            let rows = table.rows
            let rowArray = []

            // creeam o lista care contine liniile tabelului sub forma json, unde cheile sunt
            for(let index = 0; index < rows.length; index ++) {
                let cells = rows[index].cells
                let row = Object()
                for(let j = 0; j < cells.length; j++)
                {
                    row[j] = Number(cells[j].innerHTML)
                    if(isNaN(row[j])) // daca campul nu poate fii convertit la un numar
                        row[j] = cells[j].innerHTML // se foloseste scrierea dupa string
                }
                rowArray.push(row)
            }

            let rowArrayLen = rowArray.length

            // stupid sort
            for(let i = 1; i < rowArrayLen; i ++)
            {
                for(let j = i + 1; j < rowArrayLen; j ++)
                {
                    if(rowArray[i][sortingField] > rowArray[j][sortingField]){
                        let aux = Object()
                        // facem swap-ul intre liniile tabelului
                        aux = rowArray[i]
                        rowArray[i] = rowArray[j]
                        rowArray[j] = aux
                    }
                }
            }

            // stergem liniile din tabel
            clearTable(tableId)
            // si le punem in ordinea sortata
            for(let i = 1; i < rowArrayLen; i ++)
                addRow(tableId, rowArray[i], Object.keys(rowArray[i]))
        }
        // functie care afiseaza o singura carte in tabel
        async function showBook(tableId)
        {

            const bookId = document.getElementById("book_id_input").value;
            const bookData = await getBook(bookId);

            const bookFields = Object.keys(bookData[1]);

            initSortingCombobox(bookFields); // (re)initializam optiunile pentru sortare

            if(bookData === "error") {
                return
            }


            await clearTable(tableId); // stergem liniile din tabel

            const fieldsOrder = bookData[0]['order']; // preluam ordinea in care trebuie sa fie asezate coloanele

            const entry = bookData[1]; // preluam datele cartii
            addRow(tableId, entry, fieldsOrder);
            console.log(entry)
        }

        // functie care afiseaza toate cartile in tabel
        async function showCatalog(tableId)
        {
            await clearTable(tableId);
            const catalogData = await getCatalog();

            initSortingCombobox(Object.keys(catalogData[1]));

            if(catalogData === "error") {
                return
            }

            const catalogFieldsOrder = catalogData[0]['order'];
            const catalogDataSize = catalogData.length;
            for (let index = 1; index < catalogDataSize; index ++)
            {
                const catalogEntry = catalogData[index];
                addRow(tableId, catalogEntry, catalogFieldsOrder);
            }
        }
        // functie ce adauga o singura linia la tabelul cu id-ul specificat, cu datele specificate (sub forma de obiect), in ordinea specificata
        function addRow(tableId, rowData, catalogFieldsOrder)
        {
            var table = document.getElementById(tableId);

            const tableRowCount = table.rows.length;
            var row = table.insertRow(tableRowCount);

            const fieldsCount = Object.keys(catalogFieldsOrder).length;
            for(let index = 0; index < fieldsCount; index ++)
            {
                var cell = row.insertCell(index);
                cell.innerHTML = rowData[catalogFieldsOrder[index]];
            }
        }
        // functie care adauga o carte in baza de date
        async function addBook()
        {
            let bookTitle = document.getElementById("book_title").value;
            let bookAuthor = document.getElementById("book_author").value;
            let bookReleaseYear = document.getElementById("book_release_date").value;
            let bookStock = document.getElementById("book_stock").value;
            let bookPrice = document.getElementById("book_price").value;

            // fiecare camp nul este inlocuit cu '-'
            if(bookTitle === "")
                bookTitle = "-"
            if(bookAuthor === "")
                bookAuthor = "-"
            if(bookReleaseYear === "")
                bookReleaseYear = "-"
            if(bookStock === "")
                bookStock = "-"
            if(bookPrice === "")
                bookPrice = "-"

            // trimitem cerere POST pentru o singura carte
            const response = await fetch(url.concat(`/books`),
                {
                    method:"POST",
                    body: JSON.stringify({title: bookTitle,
                        author: bookAuthor, year_published:bookReleaseYear,
                        stock: bookStock, price: bookPrice
                    }),
                    headers:{"Content-type": "application/json; charset=UTF-8"}
                    }
                );
            if(response.ok)
            {
                await showCatalog('catalog');
                const resp = await response.json()
                
                alert(resp["info"]);
            }
            else
            {
                const resp = await response.json()
                
                alert(resp["error"]);
            }
        }
        // functie care modifica o carte din baza de date
        async function updateBook()
        {
            let bookId = document.getElementById("book_id_input").value;
            bookId = Number (bookId)
            if(isNaN(bookId)) {
                alert("Error: Id must be integer!");
                return;
            }

            let bookTitle = document.getElementById("book_title").value;
            let bookAuthor = document.getElementById("book_author").value;
            let bookReleaseYear = document.getElementById("book_release_date").value;
            let bookStock = document.getElementById("book_stock").value;
            let bookPrice = document.getElementById("book_price").value;

            // fiecare camp nul este ignorat
            let fields = {};
            if(bookTitle !== "")
                fields["title"] = bookTitle;
            if(bookAuthor !== "")
                fields["author"] = bookAuthor;
            if(bookReleaseYear !== "")
                fields["year_published"] = bookReleaseYear;
            if(bookStock !== "")
                fields["stock"] = bookStock;
            if(bookPrice !== "")
                fields["price"] = bookPrice;

            const response = await fetch(url.concat(`/books/${bookId}`), // trimitem cerere PUT pentru modificarea unei carti
                {
                    method:"PUT",
                    body: JSON.stringify(fields),
                    headers:{"Content-type": "application/json; charset=UTF-8"}
                }
            );
            if(response.ok) {
                await showCatalog('catalog');
                const resp = await response.json()
                
                alert(resp["info"]);
            }
            else
            {
                const resp = await response.json()
                
                alert(resp["error"])
            }
        }
        // functie pentru stergere a unei carti din baza de date
        async function deleteBook()
        {
             let bookId = document.getElementById("book_id_input").value;
             bookId = Number (bookId)
             if(isNaN(bookId)) {
                alert("Error: Id must be integer!");
                 return;
             }

             const url = "http://127.0.0.1:5000";
             const response = await fetch(url.concat(`/books/${bookId}`),{method:"DELETE"});

             if(response.ok)
             {
                 await showCatalog('catalog');
                 const resp = await response.json()
                 alert(resp["info"]);
             }
             else
             {
                 const resp = await response.json()
                 alert(resp["error"]);
             }
        }

        console.log('5' > '10')

    </script>
</body>
</html>